<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sara Marin portfolio</title>
    <!-- <link rel="icon" href="favicon.png"/> -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="https://kit.fontawesome.com/ea8c8602a3.js"></script>
  </head>
  <body>
    <div class="page">
      <partial src="_header.html" label="Header"></partial>
      <partial src="_main.html" label="Main"></partial>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
  </body>
</html>
