.navbar {
    top: 0px;
    position: fixed;
    background: $navbar-color;
    width: 100%;
    margin: 0px 0px;
    // text-align: right;

    &_element {
        display: inline-block;
        // padding-right: 15px;
        margin: 55px;
        margin-bottom: 18px;
        margin-top: 15px;
    }

    &_link {
        color: $color-white;
        text-decoration: none;

        &:hover {
            color: $primary-color;
        }
    }
}

nav ul {
    text-align: right;
    top: 0px;
    margin: 0px;
}